html {
	font-family: 'Space Mono', monospace;
}
h1{
	font-family: 'Inconsolata', monospace;
	font-size: 24px;
	letter-spacing: -2px;
	text-transform: uppercase;
	margin: 20px 1230px 100px 30px;
}
img {
	width: 539.22px;
	height: 447.73px;
}
main {
	width: 1200px;
	margin-left: 100px;
}
div {
	width: 600px;
	margin-left: 600px;
	margin-top: -500px;
}
p.first {
	font-size: 64px;
	font-weight: 700;
	font-style: normal;
}
p.second {
	width: 381px;
	height: 108px;
	font-size: 24px;
	line-height: 36px;
	letter-spacing: -1.5px;
	font-weight: 400;
}
button {
	width: 216px;
	height: 68px;
	font-size: 14px;
	background-color: #333333;
	border: 0;
	color: white;
	text-transform: uppercase;
	margin-top: 64px;
}
footer {
	text-align: center;
	margin-top: 150px;
	font-family: 'Montserat', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #BDBDBD;
}